.column {
  min-height: 600px;
  flex: 1 1 300px;
  margin: 0 10px;
}

.content {
  background: #f4f5f7;
  width: 100%;
  min-height: 600px;
  padding: 5px;
  border-radius: 10px;
}

.title {
  margin: 5px 0;
}